<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title>Calorie Tracker</title>
	<meta charset="utf-8">

	
	<link href="{% static 'css/base.css' %}" rel="stylesheet">
	
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;500;600;700&family=Dancing+Script:wght@400;500;600;700&family=Festive&family=Nanum+Myeongjo&family=Sorts+Mill+Goudy&display=swap" rel="stylesheet">

</head>
<body style="padding: 0;">
  <header style="background: #2193b0;  background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);  
  background: linear-gradient(to right, #6dd5ed, #2193b0);font-family: 'Cormorant Garamond', serif;
font-family: 'Dancing Script', cursive;
font-family: 'Festive', cursive;
font-family: 'Nanum Myeongjo', serif;
font-family: 'Sorts Mill Goudy', serif;">
<nav id="navbar-primary" class="navbar navbar-expand-lg navbar-default active" role="navigation" style="position: relative; top:0px; border-radius: 0px;font-family: 'Cormorant Garamond', serif;
font-family: 'Dancing Script', cursive;
font-family: 'Festive', cursive;
font-family: 'Nanum Myeongjo', serif;
font-family: 'Sorts Mill Goudy', serif;  font-weight: bold;">
  
    <!-- Brand and toggle get grouped for better mobile display -->
 
 <div class="container">
          <div class="navbar-header">
            <!-- Brand and toggle get grouped for better mobile display -->
          <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#resNav"  id='navbar-toggler'>
            <span class="navbar-toggler-icon" id="ham"></span>
          </button>
        </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="resNav">
            <ul class="navbar-nav justify-content-center">
              {% with url_name=request.resolver_match.url_name %}
              <li class="nav-item" style="padding-top: 16px;"><a href="{% url 'home' %}">Home</a></li>
              <li class="nav-item"><a class="nav-link  {% if url_name == 'home' %} active{% endif %}" href="{% url 'food_home' %}">Activity</a></li>
              <li class="nav-item"><a class="nav-link {% if url_name == 'profile' %} active{% endif %}" href="{% url 'profile' %}">Profile</a></li>
              <li class="nav-item"><a class="nav-link {% if url_name == 'add_food' %} active{% endif %}" href="{% url 'add_food' %}">Add Food</a></li>
              <li class="nav-item"><a class="nav-link {% if url_name == 'select_food' %} active{% endif %}" href="{% url 'select_food' %}">Select Food</a></li>
              <li class="nav-item" style="padding-top: 16px;"><a href="{% url 'workout' %}">Calories Lost</a></li>
              <li class="nav-item" style="padding-top: 16px;"> <a>{{ request.user }}</a></li>
              <li class="nav-item" style="padding-top: 16px;"><a href="{% url 'logout' %}">Logout</a></li>

              {% endwith %}
            </ul>
            </div>
            <!-- /.navbar-collapse -->
      
 </div>
</nav>
</header>
<!-- header role="banner" -->
        {% block content %}
        {% endblock content %}
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

</body>
</html>